/* Carouselpage.css */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 82%;
}

.save,
.the_date,
.date,
.banner {
    font-family: 'Pacifico', cursive;
    margin-bottom: 50px;
}

.save {
    font-size: 75px;
    line-height: 30px;
}

.the_date {
    font-size: 62px;
}

.date {
    font-size: 47px;
    line-height: 40px;
}

.pink_dot {
    color: #f0394d;
}

.banner h4 {
    font-size: 38px;
    color: white;

    justify-content: center;
    margin: 0;
}

.curve {

    padding-bottom: 80px;
    font-family: 'Pacifico', cursive;
    -ms-transform: rotate(-10deg);

    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);

    padding-right: 50px;

}